# Virtual Environment
venv/

# Large Model Weights (LoRA Weights & Adapters)
models/adapter/*.bin
models/adapter/*.safetensors

# Raw Data (పెద్ద డాక్యుమెంట్లు ఉంటే)
data/raw/

# Python Cache
__pycache__/
*.pyc
.env
